$pink:rgba(255, 192, 226, 0.8);
$blue:rgba(70, 130, 180, 0.7);

$font-color: #eee;

$button-color: #e94560;
$border-white-small: 0.2rem solid $font-color;

$linear-gradiant-default: linear-gradient(rgba(206, 195, 200, 0.7), rgba(0, 0, 255, 0.2));