@use 'colors';
@use 'fonts';

//  call to action button 
%cta{
    width: 11rem;
    padding: 1rem;
    font-size: 80%;
    background: colors.$button-color ;
    border: none;
    color: colors.$font-color;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

%cta:hover{
    cursor: pointer;
    background: darken(colors.$pink,10%);
    transition: 0.2s;
}


//default header for section

%header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    line-height: 3rem;
    gap: 3rem;
    flex-direction: column
}

//  h2 for section and header 

%h2Handwriting{
    font-family: fonts.$handwriting;
    font-size: 380%;
    color: colors.$font-color;
}

// default section

%section{
    height: 80rem;
    border-bottom: colors.$border-white-small;
    padding-top: 4rem;
    padding-bottom: 4rem;
}