@use 'colors';
@use 'components';

.nav{
    display: flex;
    width: 100%;
    background: colors.$blue;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
    color: colors.$font-color;
    font-size: 120%;
    padding: 4rem;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 2rem;
}


.nav__button{
  @extend %cta;
}

.nav__button:hover{
    color: red;
}