@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin rotate($duration: 0.6s) {
    transform: rotate(360deg);
    transition: $duration all;
    transition-timing-function: linear;
}

@mixin fontCursive {
    font-weight: 400;
    font-family: "Moon Dance", cursive;
}

@mixin fontSansserif {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

@mixin fontSans {
    font-weight: 400;
    font-family: "Merriweather", serif;
}